<div ng-show="isShowing" ng-class="{ active: isShowing }" style=" position: relative; width: 100%; height: 100%;">
    <!-- Temp Close Sidepanel Button -->
    <div class="handle" ng-click="hide()">Hide</div>
    
    <div class="leftpanel">
        
        <div class="episode-img" lazy-background="{{episode.filename}}"></div>
        <h2>{{serie.name}} - {{episode.getFormattedEpisode()}}</h2>
        <h3>{{episode.episodename}}</h3>
        <p>{{episode.overview}}</p>

        <ul class="buttons">
            <li ng-click="showSerie()">
                <i class="glyphicon glyphicon-info-sign"></i><strong>{{'EVENT/dropdown-series-details/lbl'|translate}}</strong>
            </li>
            <li ng-if="episode.hasAired()" episode-watched episode="episode" ng-click="markWatched(episode)">
            </li>
            <li ng-if="getSetting('torrenting.enabled')">
                <a>
                    <torrent-dialog tvdbid='episode.TVDB_ID' q='getSearchString(event)'> <strong><translate>EVENT/dropdown-utorrent-client/lbl</translate></strong></torrent-dialog>
                </a>
            </li>
            <li ng-click="autoDownload(episode)">
                <i class="glyphicon glyphicon-cloud-download"></i><strong>Auto Download</strong>
            </li>
            <li ng-if="getSetting('torrenting.enabled') && episode.magnetHash && isTorrentClientConnected()">
                <torrent-remote-control info-hash="episode.magnetHash" template-url="templates/torrentMiniRemoteControl.html"></torrent-remote-control>
            </li>
            <li ng-if="getSetting('torrenting.enabled') && getSetting('torrenting.progress') && episode.magnetHash">
                Download Progress
                <torrent-remote-control info-hash="episode.magnetHash" template-url="templates/torrentMiniRemoteProgress.html"></torrent-remote-control>
            </li>
        </ul>
    </div>

    <div class="rightpanel">
        <serie-details template-url="templates/sidepanel/serieDetails.html"><serie-details>
    </div>
</div>