<div ng-if="isShowing" ng-class="{ active: isShowing }" style=" position: relative; width: 100%; height: 100%;">
    <!-- Temp Close Sidepanel Button -->
    <div class="handle" ng-click="hide()">Hide</div>
    
    <div class="leftpanel">
        
        <div class="episode-img" lazy-background="{{episode.filename}}"></div>
        <h2>{{serie.name}} - {{episode.getFormattedEpisode()}}</h2>
        <h3>{{episode.episodename}}</h3>
        <p>{{episode.overview}}</p>

        <ul class="buttons">
            <li ng-click="showSerie()" style="display:inline-block; width:50%;">
                <i class="glyphicon glyphicon-info-sign"></i><strong>{{'EVENT/dropdown-series-details/lbl'|translate}}</strong>
            </li>
            <li ng-click="showEpisodes()" style="display:inline-block; width:50%;">
                <i class="glyphicon glyphicon-info-sign"></i><strong>Episodes</strong>
            </li>

            <episode-watched ng-if="episode.hasAired()" template-url="templates/sidepanel/mark-watched.html" episode="episode" ng-click="markWatched(episode)"></episode-watched>

            <torrent-dialog ng-if="getSetting('torrenting.enabled')" tvdbid='episode.TVDB_ID' q='getSearchString(serie, episode)'> <strong><translate>EVENT/dropdown-utorrent-client/lbl</translate></strong></torrent-dialog>

            <li ng-click="autoDownload(episode)">
                <i class="glyphicon glyphicon-cloud-download"></i><strong>Auto Download</strong>
            </li>

            <li class="no-hover" ng-if="getSetting('torrenting.enabled') && episode.magnetHash && isTorrentClientConnected()">
                <torrent-remote-control info-hash="episode.magnetHash" template-url="templates/torrentMiniRemoteControl.html"></torrent-remote-control>
            </li>
            
            <li class="no-hover" ng-if="getSetting('torrenting.enabled') && getSetting('torrenting.progress') && episode.magnetHash">
                Download Progress
                <torrent-remote-control info-hash="episode.magnetHash" template-url="templates/torrentMiniRemoteProgress.html"></torrent-remote-control>
            </li>
        </ul>
    </div>

    <div class="rightpanel"> 
        <serie-details ng-if="state == 'serie'" template-url="templates/sidepanel/serieDetails.html"></serie-details>
        <div ng-if="state == 'episodes'" ng-include="'templates/sidepanel/episodes.html'"></div>
    </div>
</div>